body
{
    background-color: #292c34;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #acb2bf;
    padding: 0;
    background-image: url(../images/afroeurasia.png);
    background-size: 1920px 1041px;
    overflow: hidden;
}

/* Dropdown menu button */
button.menuButton
{
    background-color: #292c34;
    border: none;
    color: #acb2bf;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

/* the <div> for positioning the dropdown content */
div.menuDrop
{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* menu content (hidden by default) */
div.menu
{
    display: none;
    position: absolute;
    background-color: #292c34;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* links inside the dropdown */
div.menu a
{
    color: #acb2bf;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

/* change color of dropdown links on hover */
div.menu a:hover { background-color: #222; }

/* show the dropdown menu on hover */
div.menuDrop:hover .menu { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
div.menuDrop:hover .menuButton { background-color: #202227; }

div.circle
{
    background-color: #292c34b0;
    size: 50px 50px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 50px;
    height: 50px;
}

div.circleText
{
    background-color: #292c34f0;
    color: #acb2bf;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
    display: none;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    width: 300px;
    padding: 12px 16px;
}

div.circle:hover
{
    background-color: #202227f0;
}

div.circle:hover div.circleText
{
    display: block;
}

div.circle#india
{
    top: 650px;
    left: 1200px;
}

div.circle#india div.circleText#indiaText
{
    top: -330px;
    left: 0px;
}