body
{
    background-color: #292c34;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #acb2bf;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
}
body::-webkit-scrollbar
{
    display: none; /* hide scrollbar in Chrome */
}

.mainMap
{
    background-image: url(../images/afroeurasia.png);
    width: 1920px;
    height: 1017px;
    margin: 0;
    padding: 0;
    border: 0;
}